{% extends 'temp_homepage/base.html' %}
{% block body_block %}
{% load static %}

    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated zoomIn">Health Information</h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'homepage' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#blog">Articles</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a class="text-white" href="#add">Post</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section id="blog">

        <!-- --------heading-------- -->
        <div class="blog-heading">
            <span>Recent Posts</span>
            <h3>Articles</h3>
            <a href="#add">Add your Article</a>
        </div>

        <!-- ---------blog-container---------- -->
        <div class="blog-container">
            {% for article in articlesdata %}
            <div class="blog-box">
                {% comment %}
                <div class="blog-img">
                    <img src="" alt="Blog Image">
                </div>
                {% endcomment %}
                <div class="blog-text">
                    <a href="{% url 'getarticle' article.pk %}" class="blog-title">{{ article.title}}</a>
                    <span>{{ article.date}}  |  {{ article.subject }}</span>
                    <p>{{ article.article }}</p>
                    <a href="{% url 'getarticle' article.pk %}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

    <div class="container-xxl py-5" id="add">
        <div class="container px-lg-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="position-relative d-inline text-primary ps-4">Health Information</h6>
                        <h2 class="mt-2">Write up An Article</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <form method="post" action="{% url 'save' %}">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" name='subject' placeholder="Subject" required>
                                        <label for="title">Subject</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="date" name='date' placeholder="Date" required>
                                        <label for="date">Date</label>
                                    </div>
                                </div>  
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="title" name='title' placeholder="Title" required>
                                        <label for="title">Title</label>
                                    </div>
                                </div>                             
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Write up an article to post here" id="article" name="article" style="height: 150px" required></textarea>
                                        <label for="message">Article</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input class="btn btn-primary w-100 py-3" type="submit" value="Post">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}