{% extends 'temp_marketplace/base.html' %}
{% load static %}
{% block body_block %}

<link href="{% static 'marketplace/css/productStyles.css' %}" rel="stylesheet">

<div class="container">
    <div class="grid">
        <div>
            <img src="{{single_product.image.url}}" alt="Product Image" class="product-image">
        </div>
        <div class="product-info">
            <div>
                <h1 class="product-title">{{ single_product.product_name }}</h1>
                <p class="product-price">Rs.{{ single_product.price }}</p>
                <p class="product-description">
                    {{ single_product.description }}
                </p>
                <div>
                    <span class="product-category">{{ single_product.category.category_name }}</span>
                </div>
            </div>
            
            <div class="button-group">
                <a href="{% url 'add_to_cart' single_product.id %}">
                    <button class="add-to-cart">Add to Cart</button>
                </a>
                <button class="product-details" id="" onclick="window.location.href='{% url 'marketpage' %}'">Back to Shopping</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}